@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Slabo+27px&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	background: #F9F7F7;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}

#navbar__logo {
	background-color: #112D4E;	
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;	
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item {
	height: 80px;
}

.navbar__links {
	color: #112D4E;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
}

.navbar__links:hover {
	color: #f9f;
	transition: all 0.3s ease;
}


@media only screen and (max-width: 960px) {
	.navbar__container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
	}

	.navbar__menu {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 1;
		transition: all 0.5s ease;
		height: 50vh;
		z-index: -1;
		background: #121121;
	}

	.navbar__menu.active {
		background: #131313;
		top: 100%;
		opacity: 1;
		transition: all e.5 ease;
		z-index: 99;
		height: 50vh;
		font-size: 1.6rem;
	}

	#navbar__logo {
		padding-left: 25px;
	}

	.navbar__toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: #595959;
	}

	.navbar__item {
		width: 100%;
	}

	.navbar__links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.navbar_btn {
		padding-bottom: 2rem;
	}

	.navbar__toggle .bar {
		display: block;
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/* Landing Page */
.main {
	background-color: #F9F7F7;
}

.main__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-tracks: center;
	justify-self: center;
	margin: 0 auto;
	height: 90vh;
	background-color: #F9F7F7;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding: 100px 50px;
}

.main__container h1{
	font-size: 4rem;
	background-color: #112D4E;	
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color:transparent;
}

.main__container h2 {
	font-size: 4rem;
	background-color: #3F72AF;	
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color:transparent;
}

.main__content p {
	margin-top: 50px;
	font-size: 2rem;
	font-weight: 700;;
	font-family: 'Slabo 27px', serif;
}

.main__btn {
	font-size: 1rem;
	background: #3F72AF;
	padding: 14px 32px;
	border: none;
	border-radius: 4px;	
	margin-top: 2rem;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	outline: none;
}

.main__btn a {
	position: relative;
	z-index: 2;
	color: #fff;
	text-decoration: none;
}

.main__btn::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #4837ff;
	transition: all 0.4s;
	border-radius: 4px;
}

.main__btn:hover {
	color: #fff;	
}

.main_btn:hover::after{
	width: 100%;	
}

.main__img-container {
	text-align: center;
}

#main__img {
	height: 80%;
	width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
	.main__container {
		display: grid;
		grid-template-columns: auto;
		align-items: center;
		justify-self: center;
		width: 100%;
		margin: 0 auto;
		height: 90vh;
	}

	.main__content {
		text-align: center;
		margin-bottom: 4rem;
	}

	.main__content h1{
		font-size: 2.5rem;
		margin-top: 2rem;
	}

	.main__content h2 {
		font-size: 3rem;		
	}

	.main__content p {
		margin-top: 1rem;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 480px) {
	.main__content h1 {
		font-size: 2rem;
		margin-top: 3rem;
	}

	.main__content p {
		margin-top: 2rem;
		font-size: 1.5rem;
	}

	.main__btn {
		padding: 12px 36px;
		margin: 2.5rem 0;
	}
}

/* About Me */
aside {
	background-color: #F9F7F7;
	padding: 0;
	display: flex;
	align-items: center;
}

.about__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-tracks: center;
	justify-self: center;
	margin: 0 auto;
	height: 90vh;
	background-color: #F9F7F7;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding: 50px 50px;
}

.about__content p {
	margin-top: 50px;
	font-size: 2rem;
	font-weight: 700;;
	font-family: 'Slabo 27px', serif;
}
.main__img-container {
	text-align: center;
}

#main__img {
	height: 80%;
	width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
	.main__container {
		display: grid;
		grid-template-columns: auto;
		align-items: center;
		justify-self: center;
		width: 100%;
		margin: 0 auto;
		height: 90vh;
	}

	.main__content {
		text-align: center;
		margin-bottom: 4rem;
	}

	.main__content h1{
		font-size: 2.5rem;
		margin-top: 2rem;
	}

	.main__content h2 {
		font-size: 3rem;		
	}

	.main__content p {
		margin-top: 1rem;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 480px) {
	.main__content h1 {
		font-size: 2rem;
		margin-top: 3rem;
	}

	.main__content p {
		margin-top: 2rem;
		font-size: 1.5rem;
	}

	.main__btn {
		padding: 12px 36px;
		margin: 2.5rem 0;
	}
}


/* Footer */
footer {
	background: #111;
	height: auto;
	width: 100%;
	font-family: sans-serif;
	padding-top: 40px;
	color: #F9F7F7;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer__content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer__content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1 rem 0 3rem 0;
}

.socials li{
	margin: 0 10px;
}

.socials a {
	text-decoration: none;
	color: #fff;
}

.socials a i{
	font-size: 1.1rem;
}

.socials a:hover i{
	color: aqua;
}

.footer__bottom {
	background: #000;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.footer__bottom {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer__bottom span{
	text-transform: uppercase;	
	opacity: .4;
	font-weight: 200;
	align-items: center;
}

.icon {
	fill: #fff;
}